<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139759571374-3hfe9t85rmqqt798d14loi1pitu1rn4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139759571374-3hfe9t85rmqqt798d14loi1pitu1rn4t</string>
	<key>API_KEY</key>
	<string>AIzaSyBFUpRleRIWju-I-XKC46XxJ3aKP6dDtZA</string>
	<key>GCM_SENDER_ID</key>
	<string>139759571374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ch.danyalexandre.myApp</string>
	<key>PROJECT_ID</key>
	<string>lupiludi-6cfea</string>
	<key>STORAGE_BUCKET</key>
	<string>lupiludi-6cfea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139759571374:ios:77f2a1afca78829d94f83f</string>
</dict>
</plist>